extends layout

block content
  h1= title
  if user
    p Hello #{user.username}

  //- Message Board
  div.message-board
    div.message-container
      div.message-text
        p.text Hello World!
        p.author Test user
    for message in messages 
      div.message-container
        p.text #{message.text}
        span.author #{message.author}
        span.timestamp #{message.timestamp}
  //- Become a Member button
  if user
    a(href='/log-out') Log Out
    p Membership Status: #{user.member_status}
    //- If not yet a member
    if user.member_status
      form(method="POST" action='/')
        input(name='new-message')
        button(type='submit') Post Message
    else
      div.action-div
        h2 You're signed in but you're not a member yet.
        h2 Are you ready to become a member?
        a(href='/become-a-member') Heck yeah, I am!
  else
    div.action-div
      h2 Don't you want to see what everyone else is talking about?
      a(href='/sign-up') Become a Member
      a(href='/log-in') Log Me In
